# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Audio files
*.mp3
*.wav

# Images generated
*.png
*.jpg

# ffmpeg binaries
ffmpeg/

# Secrets / API keys
ServiceAccountKey.json

# Logs
*.log

# OS files
.DS_Store
Thumbs.db